.rubocop-*
/.bundle/
/.idea/
/.yardoc
/Gemfile.lock
/_yardoc/
/config/environments/*.local.yml
/config/settings.local.yml
/config/settings/*.local.yml
/coverage/
/doc/
/pkg/
/spec/manageiq
/spec/reports/
/tmp/
